<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <section class="users">
            <h3>Registered Users</h3>  
            <div class="">
                <% users.forEach(user => { %>
                <div class="user">
                    <img src="avatars/<%= user.avatar %>" alt="avatar">
                    <h3><%= user.firstName +" "+ user.lastName %></h3>
                    <span>@<%= user.userName %></span>
                </div>
                <% }) %>
            </div>

            <a class="button" href="/users/register">Register User</a>
        </section>
    </body>
</html>
