<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>Register yourself!</h3>  
        <form action="/users/register" method="POST" enctype="multipart/form-data">
            <label>First Name:</label>
            <input type="text" name="firstname"><br><br>
            <label>Last Name:</label>
            <input type="text" name="lastname"><br><br>
            <label>User Name:</label>
            <input type="text" name="username"><br><br>
            <label>Avatar:</label>
            <input type="file" name="avatar"><br><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>
