<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3>Register yourself!</h3>  
        <form action="/users/register" method="POST">
            <label>User Name:</label>
            <input type="text" name="name"><br><br>
            <label>Email:</label>
            <input type="email" name="email"><br><br>
            <label>Password:</label>
            <input type="password" name="password"><br><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>
